<!-- Dashboard summary page start -->
<sb-layout-dashboard>
    <sb-dashboard-head title="Dashboard" [hideBreadcrumbs]="false"></sb-dashboard-head>

    <!-- Dashboard content start -->
    <div class="container-fluid">
        <div class="row">
            <!-- ACTION ITEMS START -->
            <div class="col-md-6 col-sm-12">
                <div class="sb-du-card">
                    <div class="py-4 d-flex flex-row justify-content-between align-items-center" style="padding-left: 2rem; padding-right: 2rem;">
                        <h3>ACTION ITEMS</h3>
                        <div class="d-flex flex-row align-items-center">
                            <span>Hide Completed</span>
                            <input type="checkbox"/>
                        </div>
                    </div>

                    <div>
                        <ul class="sb-du-list">
                            <li class="sb-du-listitem">
                                <p><input type="checkbox"/></p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </li>

                            <li class="sb-du-listitem active">
                                <p><input type="checkbox"/></p>
                                <p>Aenean placerat suscipit sollicitudin.</p>
                            </li>

                            <li class="sb-du-listitem">
                                <p><input type="checkbox"/></p>
                                <p>Vestibulum vitae lorem mattis, rhoncus nisl sed, maximus metus.</p>
                            </li>

                            <li class="sb-du-listitem">
                                <p><input type="checkbox"/></p>
                                <p>Ut euismod blandit sem, et imperdiet sapien tristique et.</p>
                            </li>

                            <li class="sb-du-listitem">
                                <p><input type="checkbox"/></p>
                                <p>Quisque laoreet sed risus id condimentum.</p>
                            </li>

                            <li class="sb-du-listitem">
                                <p><input type="checkbox"/></p>
                                <p>Vivamus et tempus lacus. Phasellus consectetur dolor.</p>
                            </li>

                            <li class="sb-du-listitem">
                                <p><input type="checkbox"/></p>
                                <p>Vestibulum turpis diam, lacinia vitae neque non, lacinia tincidunt nisi.</p>
                            </li>

                            <li class="sb-du-listitem">
                                <p><input type="checkbox"/></p>
                                <p>Donec nunc purus, rhoncus in turpis sit amet, iaculis malesuada.</p>
                            </li>

                            <li class="sb-du-listitem">
                                <p><input type="checkbox"/></p>
                                <p>Pellentesque habitant morbi tristique senectus et netus.</p>
                            </li>

                            <li class="sb-du-listitem">
                                <p><input type="checkbox"/></p>
                                <p>Mauris quis massa posuere, condimentum ipsum.</p>
                            </li>

                            <li class="sb-du-listitem">
                                <p><input type="checkbox"/></p>
                                <p>Donec congue vestibulum tellus.</p>
                            </li>

                        </ul>
                    </div>

                </div>
            </div>
            <!-- ACTION ITEMS END -->

            <!-- METRIC DATA START -->
            <div class="col-md-6 col-sm-12">
                <div class="sb-du-card">
                    <div class="d-flex flex-row justify-content-between align-items-center" style="padding: 26px 35px 0px 35px;">
                        <h3>METRIC DATA</h3>
                    </div>

                    <div style="margin-top: 52px; padding: 0px 35px;">
                        <div class="d-flex flex-row">
                            <div class="sb-du-data-item">
                                <div>73</div>
                                <div>No. of calls</div>
                            </div>
                            <div class="sb-du-data-item">
                                <div>6</div>
                                <div>No. ready for approval</div>
                            </div>
                        </div>
                        <div class="d-flex flex-row">
                            <div class="sb-du-data-item">
                                <div>14</div>
                                <div>No. reopened calls</div>
                            </div>
                            <div class="sb-du-data-item">
                                <div>1248</div>
                                <div>No. of total tickets</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- METRIC DATA END -->

        </div>
    </div>
    <!-- Dashboard content start -->

</sb-layout-dashboard>

<!-- Dashboard summary page end -->