@import 'styles/variables.scss';

.sb-du-main-header {
    margin-top: 25px;
    margin-left: 55px;
    margin-right: 22px;
}

.authentication-status{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #9FAAB9;
    text-align: right;
}

.topbar-username{
    font-family: "Open Sans";
    color: #474E58;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    line-height: 20px;
    text-align: right;
}

@media screen and (max-width: 768px) {
    .sb-du-main-header {
        margin-top: 15px;
        margin-left: 15px;
        margin-right: 15px;
    }
}