<!-- TICKETS DETAILS PAGE START -->
<sb-layout-dashboard>
    <sb-dashboard-head-details title="Dashboard" [hideBreadcrumbs]="false"></sb-dashboard-head-details>
    
    <div style="margin-top: 25px;">
        <div class="row" style="margin: 0px!important; padding: 0px!important;">
            <!-- USER INFO SECTION START -->
            <div class="col-md-9 col-sm-12">
                <div class="sb-du-card">
                    <div style="padding: 25px 35px;">
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <div class="sb-du-data-item">
                                    <div>DM-17485</div>
                                    <div>Customer ID</div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="sb-du-data-item">
                                    <div>Jessica Lee</div>
                                    <div>Contact Name</div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="sb-du-data-item">
                                    <div>(123) 456-7890</div>
                                    <div>Contact Phone</div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <div class="sb-du-data-item">
                                    <div>John Doe</div>
                                    <div>Rep Name</div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="sb-du-data-item">
                                    <div>06/28/2017</div>
                                    <div>Open Date</div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="sb-du-data-item">
                                    <div>06/28/2017</div>
                                    <div>Resolve Date</div>
                                </div>
                            </div> 
                        </div>
                        <div class="row" style="margin-top: 40px;">
                            <div class="col-md-4 col-sm-6">
                                <div class="sb-du-data-item-reverse">
                                    <div>Subject</div>
                                    <div>Needs paper</div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="sb-du-data-item-reverse">
                                    <div>Details</div>
                                    <div>Needs a refill on office paper supplies in the next month.</div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="dropdown">
                                <button class="btn btn-sb-du-report-status dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                                  <span><span  class="status">Status:</span> Resolved</span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                                  <li><a class="dropdown-item active" href=""><input type="checkbox"/>Pending</a></li>
                                  <li><a class="dropdown-item" href=""><input type="checkbox"/>Ready for Approval</a></li>
                                  <li><a class="dropdown-item" href=""><input type="checkbox"/>Resolved</a></li>
                                  <li><a class="dropdown-item" href=""><input type="checkbox"/>Reopened</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- USER INFO SECTION END -->
    
            
            <div class="col-md-3 col-sm-12">
                <!-- SUBMIT SECTION START -->
                <div class="sb-du-card">
                    <div style="padding: 25px;">
                        <h6 class="sb-du-submit-header" style="margin-bottom: 15px;">Leave a Note</h6>
                        <div style="margin-bottom: 16px;"><textarea class="sb-du-submit-content" placeholder="Enter your note here…"></textarea></div>
                        <a class="sb-du-submit-btn">Submit Note</a>
                    </div>
                </div>
                <!--SUBM9IT SECTION END -->

                <!-- NOTIFICATION SECTION START -->
                <div class="sb-du-gray-card">
                    <div class="sb-du-gray-card-header">
                        <span>John Doe</span>
                        <span>08/14/2017</span>
                    </div>
                    <div class="sb-du-gray-card-body">
                        Vivamus ut molestie mauris, eget imperdiet metus. Curabitur quis dui sit amet tellus cursus lacinia quis nec erat. In velit quam, ultricies vel interdum non, feugiat in risus.
                    </div>
                </div>

                <div class="sb-du-gray-card">
                    <div class="sb-du-gray-card-header">
                        <span>Mary Sue</span>
                        <span>07/04/2017</span>
                    </div>
                    <div class="sb-du-gray-card-body">
                        Fusce fringilla ipsum non ipsum efficitur interdum. Nulla facilisis, est ac porttitor pulvinar, nunc.
                    </div>
                </div>

                <div class="sb-du-gray-card">
                    <div class="sb-du-gray-card-header">
                        <span>John Doe</span>
                        <span>06/26/2017</span>
                    </div>
                    <div class="sb-du-gray-card-body">
                        Vivamus non venenatis mauris. Aenean porta dui lectus, vel efficitur ex feugiat bibendum. Suspendisse fermentum consectetur nisl, sit amet pretium odio. Proin non libero sit amet neque volutpat efficitur eu at justo. Ut interdum lectus vitae arcu commodo dignissim.
                    </div>
                </div>
                <!-- NOTIFICATION SECTION END -->
            </div>
            
        </div>
        

    </div>
    
    
</sb-layout-dashboard>

<!-- TICKETS DETAILS PAGE END -->